.vehicleDetailsList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-top: 24px;
}

.vehicleDetailsListItem {
    font-weight: 500;
    font-size: 1em;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}