.featureBadge {
  background: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 0 18px;
  height: 48px;
}

.featureBadge_text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}
