:root {
    /*Fonts*/
    --font-family: "Inter", sans-serif;

    /*Colors*/
    --main: #101828;
    --text: #475467;
    --white: #fff;
    --inputs: #f7f7f7;
    --badges: #f2f4f7;
    --gray: #6c717b;
    --gray-light: #dadde1;
    --button: #e44848;
    --button-hover: #d84343;
    --rating: #ffc531;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    font-weight: 400;
    background-color: var(--white);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--main);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    padding: 40px 0;
}